<template>
  <div class="devices">
    <b-container> 
    	<b-button v-b-modal.modal1>Iniciar sesión</b-button>

		  <!-- Modal Component -->
		<b-modal id="modal1" title="Login" :hide-footer="true">
		    <app-login-form v-bind:urlWS="server_host"></app-login-form>
		</b-modal>
		<b-modal id="modal_help" title="Ayuda" :hide-footer="true">
		    <div style="text-align: left;">
		    	<ul>
		    		<li>El botón <font-awesome-icon icon="plus"></font-awesome-icon> sirve para añadir profesores.</li>
		    		<li>El botón <font-awesome-icon icon="sync"></font-awesome-icon> sirve para volver a listar profesores.</li>
		    		<li>El botón <font-awesome-icon icon="edit"></font-awesome-icon> sirve para editar información de profesor.</li>
		    		<li>El botón <font-awesome-icon icon="times"></font-awesome-icon> sirve para eliminar profesor.</li>
		    		<li>En caso de que no pueda realizar cualquier operación, vuelva a iniciar sesión.</li> 
		    	</ul>
		    </div>
		</b-modal>
    	<b-modal ref='form_reg' id="form_reg" :title="form_reg.edit ? 'Editar':'Crear'" size='md' @ok="form_proc">  
    	 
    			<b-row>
	    			<b-col sm='12'>
			    		<b-form-group  
					      	label="Nombre" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.name"
			                  type="text"
			                  placeholder=""></b-form-input>
					  	</b-form-group>
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='6'> 
			    		<b-form-group  
					      	label="Tipo Doc" class='fg-left'
					  	>
					    	<b-form-select 
					    		v-model="form_reg.type_doc.selected" 
					    		:options="form_reg.type_doc.options" 
					    		class="mb-3"  />
					  	</b-form-group> 
	    			</b-col> 
	    			<b-col sm='6'> 
			    		<b-form-group  
					      	label="Documento" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.document"
			                  type="text"
			                  placeholder=""></b-form-input>
					  	</b-form-group>
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='6'>  
			    		<b-form-group  
					      	label="Username" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.username"
			                  type="text"
			                  placeholder="username"></b-form-input>
					  	</b-form-group>
	    			</b-col> 
	    			<b-col sm='6'>  
			    		<b-form-group  
					      	label="Password" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.password"
			                  type="text"
			                  placeholder="Password"></b-form-input>
					  	</b-form-group> 
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='6'>  
			    		<b-form-group id="cg_phone1" class="f-group"
                            label="Teléfono 1:"
                            label-for="c_phone1">
		                    <b-input-group prepend="">
		                      	<b-form-input id="c_phone1"
		                                    type="text"
		                                    v-model="form_reg.phone1"
		                                    required
		                                    placeholder="Teléfono 1"></b-form-input>
		                      	<b-input-group-append> 
		                        	<b-btn variant="phone" v-b-tooltip title="Llamar" @click="callTo(1)">
		                          		<font-awesome-icon icon="phone"></font-awesome-icon>
		                        	</b-btn>
		                     	</b-input-group-append>
		                    </b-input-group>
		             	</b-form-group>
	    			</b-col> 
	    			<b-col sm='6'>   
			    		<b-form-group id="cg_phone2" class="f-group"
                            label="Teléfono 2:"
                            label-for="c_phone2">
		                    <b-input-group prepend="">
		                      	<b-form-input id="c_phone2"
		                                    type="text"
		                                    v-model="form_reg.phone2"
		                                    required
		                                    placeholder="Teléfono 2"></b-form-input>
		                      	<b-input-group-append> 
		                        	<b-btn variant="phone" v-b-tooltip title="Llamar" @click="callTo(2)">
		                          		<font-awesome-icon icon="phone"></font-awesome-icon>
		                        	</b-btn>
		                     	</b-input-group-append>
		                    </b-input-group>
		             	</b-form-group>
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='6'>  
			    		<b-form-group id="cg_email1" class="f-group"
                            label="Email 1:"
                            label-for="c_email1">
		                    <b-input-group prepend="">
		                      	<b-form-input id="c_email1"
		                                    type="email"
		                                    v-model="form_reg.email1"
		                                    required
		                                    placeholder="Email 1"></b-form-input>
		                      	<b-input-group-append> 
		                        	<b-btn variant="email" v-b-tooltip title="Mensaje" @click="emailTo(1)">
		                          		<font-awesome-icon icon="envelope"></font-awesome-icon>
		                        	</b-btn>
		                     	</b-input-group-append>
		                    </b-input-group>
		             	</b-form-group>
	    			</b-col> 
	    			<b-col sm='6'>   
			    		<b-form-group id="cg_email2" class="f-group"
                            label="Email 2:"
                            label-for="c_email2">
		                    <b-input-group prepend="">
		                      	<b-form-input id="c_email2"
		                                    type="email"
		                                    v-model="form_reg.email2"
		                                    required
		                                    placeholder="Email 2"></b-form-input>
		                      	<b-input-group-append> 
		                        	<b-btn variant="email" v-b-tooltip title="Mensaje" @click="emailTo(2)">
		                          		<font-awesome-icon icon="envelope"></font-awesome-icon>
		                        	</b-btn>
		                     	</b-input-group-append>
		                    </b-input-group>
		             	</b-form-group>
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='6'>  
			          <b-card no-body class="mb-1">
			            <b-card-header header-tag="header" class="p-1" role="tab">
			              <b-btn block v-b-toggle.accordion1 variant="accordion-rol">Años de Labor</b-btn>
			            </b-card-header>
			            <b-collapse id="accordion1" visible accordion="my-accordion" role="tabpanel">
			              <b-card-body> 
			                <p class="card-text">
			                  <b-form-group>
			                    <template slot="label">
			                      <b-form-checkbox v-model="form_reg.years.allSelected"
			                                       :indeterminate="form_reg.years.indeterminate" 
			                                       @change="toggleAllYears"
			                       >
			                        {{ form_reg.years.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
			                       </b-form-checkbox>
			                    </template>
			                    <b-form-checkbox-group 
			                                           stacked
			                                           v-model="form_reg.years.selected" 
			                                           :options="form_reg.years.options"
			                                           class="ml-4" 
			                    ></b-form-checkbox-group>
			                  </b-form-group>
			                </p>
			              </b-card-body>
			            </b-collapse>
			          </b-card>
	    			</b-col> 
	    			<b-col sm='6'>   
	    			</b-col> 
    			</b-row> 
  		</b-modal>
    	<div class='fg-left'>
    		<h4>
    			Misses  
    			<b-btn variant='custom_variant_button' v-b-modal.form_reg @click='form_reg.edit=false;'>
					<font-awesome-icon icon='plus'></font-awesome-icon>
				</b-btn>&nbsp;
    			<b-btn variant='custom_variant_button' @click='getLists'>
					<font-awesome-icon icon='sync'></font-awesome-icon>
				</b-btn>&nbsp;
    			<b-btn variant='custom_variant_button' v-b-modal.modal_help>
					<font-awesome-icon icon='question'></font-awesome-icon>
				</b-btn>
    		</h4>
    	</div>  
    	<hr>
		<b-row>
			<b-col sm="4">
				<div class="fg-left">
					<label style="border-bottom: 2px dashed #999;">Filtros de búsqueda</label>&nbsp;<label>( {{server_msg}} )</label>
				</div>
			</b-col>
		</b-row> 
		<b-row>
			<b-col sm="6">
	    		<div style="max-width: 200px;">
	    			<b-form-group  
				      	label="Año" class='fg-left'
				  	>
						<b-form-select v-model="filters.years.selected" :options="filters.years.options" />
				  	</b-form-group> 
	    		</div>
			</b-col>
		</b-row> 
		<!--
    	<b-form-input class='custom_font' v-model="list.filter" 
                  placeholder="Filtrar"></b-form-input>
              -->
    	<table class='table table-hover table-list custom_font' >
    		<thead>
    			<th v-for='val in list.header'>{{val}}</th>
    		</thead>
    		<tbody v-if='list.data.length>0'>
    			<tr v-for='(item,index) in list.data'>
    				<td>{{item.name}}</td>
    				<td>{{item.type_doc+" / "+item.document}}</td> 
    				<td style='max-width: 100px;'>{{item.years && item.years.length>0 ? item.years.join(' - '):'-'}}</td> 
    				<td class='actions custom_font'> 
    					<b-btn variant='custom_variant_button' @click="form_edit(item)">
    						<font-awesome-icon icon='edit'></font-awesome-icon>
    					</b-btn>
    					<b-btn variant='custom_variant_button_del' @click="form_del(item)">
    						<font-awesome-icon icon='times'></font-awesome-icon>
    					</b-btn>
    				</td>
    			</tr>
    		</tbody>
    		<tbody v-else>
    			<td :colspan='list.header.length'>Sin registros</td>
    		</tbody>
    	</table>
    </b-container>

  </div>
</template>

<script> 
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'  

import { library } from '@fortawesome/fontawesome-svg-core'
import { 
	faPlus,
	faEdit,
	faCloudDownloadAlt,
	faPhone, 
	faEnvelope 
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faPlus)
library.add(faEdit)
library.add(faPhone)
library.add(faCloudDownloadAlt)
library.add(faEnvelope)

Vue.component('font-awesome-icon', FontAwesomeIcon)  

import form_helpers from '@/helpers/forms';

import appLoginForm from '@/components/app-login-form'

Vue.component('app-login-form',appLoginForm); 

import VueMoment from 'vue-moment' 
Vue.use(VueMoment)
 
export default{
	data(){

		let cur_year = Vue.moment().year()
		let arr_years = []
		for(let i = 2012 ; i<= cur_year ; i++){
			arr_years.push(i)
		}
		let opts_years = arr_years.map(function(data){
			return {text:data,value:data}
		})
		let _tmp = opts_years.slice().reverse();
		let _filters_years_options = [];
		_filters_years_options.push({text:'SELECCIONAR',value:''});
		_tmp.map(function(data){
			_filters_years_options.push(data);
		});
		return { 
			server_msg:'',
			server_host:process.env.VUE_APP_SERVER_URL,
			server_path:process.env.VUE_APP_SERVER_URL+"/teacher",
			selected:{
				reg:{},
			},
			filters:{
				years:{
					selected:'',
					options:_filters_years_options,
				},
			},
			list:{
				filter:'',
				header:[
					'Nombre', 
					'Documento', 
					'Años', 
					'Acciones', 
				],
				data:[
					{
						name:'Azure', 
						document:'2324',  
						type_doc:'RUC',   
						username:'aaaaaa',   
						password:'aaaaa',  
						phone1:'',  
						phone2:'',  
						email1:'',  
						email2:'',  
						years:[], 
					}, 
				],
			},
			form_reg:{
				edit:false, 
				name:'', 
				document:'', 
				type_doc:{
					selected:'',
					options:[
						{text:'SELECCIONAR',value:''},
						{text:'DNI',value:'DNI'},
						{text:'RUC',value:'RUC'},
						{text:'PTP',value:'PTP'},
						{text:'CE',value:'CE'},
						{text:'CI',value:'CI'},
					]
				}, 
				username:'',
				password:'',
				years:{
					allSelected: false,
					indeterminate: false,
					selected:[],
					options_values:arr_years, 
					options:opts_years,
				},
				phone1:'',
				phone2:'',
				email1:'',
				email2:'', 
			}, 
		};
	},
	mounted(){ 
		this.getLists();
	},
	methods:{  
	    getLists(){
			var _this = this;
			_this.server_msg='Espere porfavor...';
			console.log("selected filter year",_this.filters.years.selected);
			this.axios.get(this.server_path,{ 
				headers:{
					'accept': 'application/json',
				  	'x-access-token':sessionStorage.getItem("tkn"),
          			'Content-Type':'application/json',
				},
				params:{
					year:_this.filters.years.selected,
				},
			}).then(
			function(response){
				  console.log(response);
				  _this.list.data = response.data;
				  _this.server_msg='Listo.';
			}
			).catch(function(err){
				console.log(err);
				console.log(err.response);
				console.log(err.status);
				  _this.server_msg='Error.';
			}); 
	    },
		form_proc(){ 
			var _this = this;
			let _data = { 
					name: _this.form_reg.name, 
					document: _this.form_reg.document, 
					type_doc: _this.form_reg.type_doc.selected, 
					username: _this.form_reg.username, 
					password: _this.form_reg.password, 
					phone1: _this.form_reg.phone1, 
					phone2: _this.form_reg.phone2, 
					email1: _this.form_reg.email1, 
					email2: _this.form_reg.email2, 
					years:_this.form_reg.years.selected.slice().sort(function(a,b){return a-b;}),
		        };
			console.log(_data);
			this.axios({
		        url:(_this.form_reg.edit ? (_this.server_path+"/"+_this.selected.reg._id):_this.server_path),
		        method:(_this.form_reg.edit ? 'PUT':'POST'),
		        data:_data,
		        headers:{
		          	'x-access-token':sessionStorage.getItem("tkn"),
          			'Content-Type':'application/json',
		        }, 
		   	}).then(
	          	function(response){
	            	console.log(response); 
	            	let title = _this.form_reg.edit ? "Edición":"Nuevo";
	            	let desc = _this.form_reg.edit ? "El registro ha sido editado":"El registro ha sido creado";
	            	_this.$swal(
		              	title,
		              	desc,
		              	'success'
		            );
	            	_this.getLists();
	        }).catch(
	        	function(err){
	          		console.log(err);
	          		console.log(err.response);
	          		console.log(err.status);
	            	let title = _this.form_reg.edit ? "Edición":"Nuevo";
	            	let desc = _this.form_reg.edit ? "Problemas al editar":"Problemas al crear";
	            	_this.$swal(
		              	title,
		              	desc,
		              	'warning'
		            );
	        });  
		}, 
		form_edit(reg){
			this.selected.reg = reg;
			this.form_reg.edit = true;
			this.form_reg.name = reg.name ? reg.name : '';
			this.form_reg.document = reg.document ? reg.document : '';
			this.form_reg.type_doc.selected = reg.type_doc ? reg.type_doc : '';
			this.form_reg.username = reg.username ? reg.username : '';
			this.form_reg.password = reg.password ? reg.password : '';
			this.form_reg.phone1 = reg.phone1 ? reg.phone1 : '';
			this.form_reg.phone2 = reg.phone2 ? reg.phone2 : '';
			this.form_reg.email1 = reg.email1 ? reg.email1 : '';
			this.form_reg.email2 = reg.email2 ? reg.email2 : '';
			this.form_reg.years.selected = reg.years ? reg.years : [];
			this.$refs.form_reg.show();
		},
		form_del(reg){
			var _this = this;
			this.$swal({
				title: 'Seguro de eliminar?',
				text: 'No se podrá recuperar el registro',
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Eliminar!',
				cancelButtonText: 'Cancelar'
			}).then((result) => {
				if (result.value) { 

					this.axios({
						url:this.server_path+'/'+reg._id,
						method:'DELETE',
					data:{ 
					},
					headers:{
					  	'x-access-token':sessionStorage.getItem("tkn"),
					  	'Content-Type':'application/json',
					}, 
					}).then(
					function(response){
						console.log(response);
					  	_this.$swal(
					      	'Eliminado!',
					      	'El registro ha sido eliminado.',
					      	'success'
					    );
					    _this.getLists(); 
					}).catch(function(err){
						console.log(err);
						console.log(err.response);
						console.log(err.status);

						_this.$swal(
						  'Notificación',
						  'Error al intentar eliminar el registro seleccionado.',
						  'error'
						)  
					});     
				} else if (result.dismiss === _this.$swal.DismissReason.cancel) {
				  _this.$swal(
				    'Cancelado',
				    'La solicitud fue cancelada',
				    'error'
				  )
				}
			});
		},
	    toggleAllYears (checked) {
	      	this.form_reg.years.selected = checked ? this.form_reg.years.options_values.slice() : []
	    },
	    callTo:function(pos){
	      	if(pos==1)window.open("tel://"+this.form_reg.phone1,"_blank"); 
	      	if(pos==2)window.open("tel://"+this.form_reg.phone2,"_blank"); 
	    },
	    mailTo:function(pos){
	      	if(pos==1)window.open("mailto://"+this.form_reg.email1,"_blank");
	      	if(pos==2)window.open("mailto://"+this.form_reg.email2,"_blank");
	    },
	},
	watch:{

	    'form_reg.years.selected' :function(newVal, oldVal) { 
	      	if (newVal.length === 0) {
	        	this.form_reg.years.indeterminate = false
	        	this.form_reg.years.allSelected = false
	      	} else if (newVal.length === this.form_reg.years.options_values.length) {
	        	this.form_reg.years.indeterminate = false
	        	this.form_reg.years.allSelected = true
	     	} else {
	        	this.form_reg.years.indeterminate = true
	        	this.form_reg.years.allSelected = false
	      	}
	    },
	    'filters.years.selected' :function(newVal, oldVal) { 
	      	this.getLists();
	    },
	}
}
</script>
<style type="text/css"> 
	.table-list{
		/*text-align: left; */
	}
	.actions{
		min-width: 140px;	
	}
	.actions>button{
		margin: 1px 3px;
		/*font-size:12px;*/
	}
	.custom_font{
		
		/*
		font-size: 12px;
		*/
	}
	.btn-custom_variant_button{
		color:#237abd;
		background: white;
	}
	.btn-custom_variant_button_del{
		color:#ff0000;
		background: white;
	}
	.fg-left{
		text-align: left;
	}
	.btn-phone{
		background: #5bc717;
		color: white;
	}
	.f-group{
		text-align: left;
	}
	.btn-email{
	  	background: #ff5050;
	  	color: white;
	}

</style>
