<template>
  <b-container>
    <div id="reg-content">
      <b-modal 
        id="modal_form" 
        :title="modal.form_action==1 ? modal.add_title: modal.edit_title" 
        @ok="try_form()"
        @cancel=''
        >
        <b-form-input v-model="forms.main.name" 
        @keyup.enter.native="try_form()"
          type="text"
          placeholder="" 
          style="margin-top:10px;"
        ></b-form-input> 
      </b-modal>
      <h3>{{title}}</h3>
      <table class="table table-hover">
        <thead>
          <th>
            <b-button class="btn btn-primary" variant="primary" @click="reload">
              <font-awesome-icon icon="sync"></font-awesome-icon>
            </b-button>            
          </th>
          <th>Tipo Doc</th> 
          <th>Creado</th> 
          <th>Actualizado</th> 
          <th>
            <b-button 
              class="btn btn-light" 
              v-b-modal="'modal_form'" 
              @click="add()"
              >
              Nuevo
            </b-button>
          </th>
        </thead>
        <tbody v-if="lists.length>0">
          <tr v-for="(item,index) in lists">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td> 
            <td>{{item.created_at | moment('DD/MM/YYYY hh:mm:ss a')}}</td> 
            <td>{{item.updated_at | moment('DD/MM/YYYY hh:mm:ss a')}}</td> 
            <td class="act-btns">
              <b-button class="btn btn-primary" variant="primary" @click="edit(item)" v-b-modal="'modal_form'">
                <font-awesome-icon icon="edit"></font-awesome-icon>
              </b-button>
              <b-button class="btn btn-primary" variant="danger" @click="del(item._id)">
                <font-awesome-icon icon="times"></font-awesome-icon>
              </b-button>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td colspan="5">
              Sin registros
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </b-container>
</template>

<script>
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'  

import { library } from '@fortawesome/fontawesome-svg-core'
import { faPlus,faEdit,faCloudDownloadAlt,faTimes,faSync } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faPlus)
library.add(faEdit)
library.add(faTimes)
library.add(faCloudDownloadAlt)
library.add(faSync)

Vue.component('font-awesome-icon', FontAwesomeIcon)  

import form_helpers from '@/helpers/forms';

import appLoginForm from '@/components/app-login-form'

Vue.component('app-login-form',appLoginForm); 

import VueSweetalert2 from 'vue-sweetalert2' 

import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'

Vue.use(VueSweetalert2) 

import VueMoment from 'vue-moment' 
Vue.use(VueMoment)
 
export default {
  name: 'TipoDoc',
  data () {
    return {
      server_host:process.env.VUE_APP_SERVER_URL,
      server_path:process.env.VUE_APP_SERVER_URL+"/tipo-doc",
      title:'Tipo de documentos',
      msg: 'Listado de tipo de documentos',
      lists:[ 
      ], 
      item_selected:null,
      modal:{
        add_title:"Nuevo registro",
        edit_title:"Editar registro", 
        form_action:1,//1:nuevo, 0: edit
      },
      forms:{
        main:{
          name:'', 
        }
      }
    }
  },
  mounted:function(){
    this.getLists();
  },
  methods:{  
    try_form:function(){
      var _this = this;  
      this.axios({
        url:this.server_path+(_this.modal.form_action==1 ? '':('/'+_this.item_selected._id)),
        method:(_this.modal.form_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.main.name, 
        },
        headers:{
          'x-access-token':sessionStorage.getItem("tkn"),
          'Content-Type':'application/json',
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.form_action==1){
            _this.$swal(
              'Nuevo',
              'El registro ha sido creado.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'El registro ha sido editado.',
              'success'
            );
          }
          _this.getLists();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.form_action==1){
          _tt = 'Nuevo';
          _msg = 'El registro no ha sido creado.';
        }else{
          _msg = 'El registro no ha sido editado.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'El registro ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        ); 
      }); 
    },
    reload(){
      this.getLists();
    },
    getLists:function(){
      var _this = this;
      this.axios.get(this.server_path,{ 
        headers:{
          'x-access-token':sessionStorage.getItem("tkn"),
          'Content-Type':'application/json',
        },
      }).then(
        function(response){
          console.log(response);
          _this.lists = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    },
    add:function(){ 
      this.modal.form_action=1;
      this.forms.main.name = '';  
    },
    edit:function(item){
      this.modal.form_action=0; 
      this.forms.main.name = item.name;   
      this.item_selected = item;
    },
    del:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          this.axios({
            url:this.server_path+'/'+_id,
            method:'DELETE',
            data:{ 
            },
            headers:{
              'x-access-token':sessionStorage.getItem("tkn"),
              'Content-Type':'application/json',
            }, 
          }).then(
            function(response){

              _this.$swal(
                  'Eliminado!',
                  'El registro ha sido eliminado.',
                  'success'
                );
                _this.getLists(); 
            }
          ).catch(function(err){
            console.log(err);
            console.log(err.response);
            console.log(err.status);

            _this.$swal(
              'Notificación',
              'Error al intentar eliminar el registro seleccionado.',
              'error'
            )  
          });  
        // For more information about handling dismissals please visit
        // https://sweetalert2.github.io/#handling-dismissals
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.table{
  text-align: center;
}
.act-btns>button{
  margin-right:5px;
}
</style>
