<template>
  <b-container>
    <div id="reg-content">
      <b-modal 
        id="modal_form" 
        :title="modal.form_action==1 ? modal.add_title: modal.edit_title" 
        @ok="try_form()"
        @cancel='' 
        size='sm'
        >
        <b-form-group label="Rol">
          <b-form-input v-model="forms.main.name" 
          @keyup.enter.native="try_form()"
            type="text"
            placeholder="" 
            style="margin-top:10px;"
          ></b-form-input> 
        </b-form-group>
        <div role="tablist " class="noselect">
          <b>Permisos:</b><br>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion1 variant="accordion-rol">Clientes</b-btn>
            </b-card-header>
            <b-collapse id="accordion1" visible accordion="my-accordion" role="tabpanel">
              <b-card-body> 
                <p class="card-text">
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.client.allSelected"
                                       :indeterminate="forms.main.permissions.client.indeterminate" 
                                       @change="toggleAllPermissionsClient"
                       >
                        {{ forms.main.permissions.client.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.client.selected" 
                                           :options="forms.main.permissions.client.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion2 variant="accordion-rol">Usuarios</b-btn>
            </b-card-header>
            <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.user.allSelected"
                                       :indeterminate="forms.main.permissions.user.indeterminate" 
                                       @change="toggleAllPermissionsUser"
                       >
                        {{ forms.main.permissions.user.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.user.selected" 
                                           :options="forms.main.permissions.user.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion3 variant="accordion-rol">Usuarios Roles</b-btn>
            </b-card-header>
            <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.user_rol.allSelected"
                                       :indeterminate="forms.main.permissions.user_rol.indeterminate" 
                                       @change="toggleAllPermissionsUserRol"
                       >
                        {{ forms.main.permissions.user_rol.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.user_rol.selected" 
                                           :options="forms.main.permissions.user_rol.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion4 variant="accordion-rol">Usuarios Areas</b-btn>
            </b-card-header>
            <b-collapse id="accordion4" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.user_area.allSelected"
                                       :indeterminate="forms.main.permissions.user_area.indeterminate" 
                                       @change="toggleAllPermissionsUserArea"
                       >
                        {{ forms.main.permissions.user_area.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.user_area.selected" 
                                           :options="forms.main.permissions.user_area.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion5 variant="accordion-rol">Areas</b-btn>
            </b-card-header>
            <b-collapse id="accordion5" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.area.allSelected"
                                       :indeterminate="forms.main.permissions.area.indeterminate" 
                                       @change="toggleAllPermissionsArea"
                       >
                        {{ forms.main.permissions.area.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.area.selected" 
                                           :options="forms.main.permissions.area.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion6 variant="accordion-rol">Tipo de Documentos</b-btn>
            </b-card-header>
            <b-collapse id="accordion6" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.doc_type.allSelected"
                                       :indeterminate="forms.main.permissions.doc_type.indeterminate" 
                                       @change="toggleAllPermissionsDocType"
                       >
                        {{ forms.main.permissions.doc_type.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.doc_type.selected" 
                                           :options="forms.main.permissions.doc_type.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion7 variant="accordion-rol">Estado Civil</b-btn>
            </b-card-header>
            <b-collapse id="accordion7" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.civil_status.allSelected"
                                       :indeterminate="forms.main.permissions.civil_status.indeterminate" 
                                       @change="toggleAllPermissionsCivilStatus"
                       >
                        {{ forms.main.permissions.civil_status.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.civil_status.selected" 
                                           :options="forms.main.permissions.civil_status.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
        
      </b-modal>
      <h3>{{title}}</h3>
      <table class="table table-hover">
        <thead>
          <th>#</th>
          <th>Rol de Usuario</th> 
          <th>Creado</th> 
          <th>Actualizado</th> 
          <th>
            <b-button 
              class="btn btn-light" 
              v-b-modal="'modal_form'" 
              @click="add()"
              >
              Nuevo
            </b-button>
          </th>
        </thead>
        <tbody v-if="lists.length>0">
          <tr v-for="(item,index) in lists">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td> 
            <td>{{item.created_at | moment('DD/MM/YYYY hh:mm:ss a')}}</td> 
            <td>{{item.updated_at | moment('DD/MM/YYYY hh:mm:ss a')}}</td> 
            <td class="act-btns">
              <b-button class="btn btn-primary" variant="primary" @click="edit(item)" v-b-modal="'modal_form'">
                <font-awesome-icon icon="edit"></font-awesome-icon>
              </b-button>
              <b-button class="btn btn-primary" variant="danger" @click="del(item._id)">
                <font-awesome-icon icon="times"></font-awesome-icon>
              </b-button>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td colspan="5">
              Sin registros
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </b-container>
</template>

<script>
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'  

import { library } from '@fortawesome/fontawesome-svg-core'
import { faPlus,faEdit,faCloudDownloadAlt,faTimes } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faPlus)
library.add(faEdit)
library.add(faTimes)
library.add(faCloudDownloadAlt)

Vue.component('font-awesome-icon', FontAwesomeIcon)  

import form_helpers from '@/helpers/forms';

import appLoginForm from '@/components/app-login-form'

Vue.component('app-login-form',appLoginForm); 

import VueSweetalert2 from 'vue-sweetalert2' 

import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'

Vue.use(VueSweetalert2) 

import VueMoment from 'vue-moment' 
Vue.use(VueMoment)

export default {
  name: 'UserRol',
  data () {

    var _action = [
      ['Modificar','EDIT'],
      ['Listar','LIST'],
      ['Eliminar','DELETE'],
      ['Exportar Excel','EXPORT_XLS'],
      ['Importar Excel','IMPORT_XLS'],
      ['Exportar PDF','EXPORT_PDF'],
      ['Importar PDF','IMPORT_PDF'],
      ['Crear PDF','CREATE_PDF'],
      ['Emitir','EMIT'],
      ['Anular','CANCEL'], 
    ];

    var _modules = [ 
      ['user','USER'],
      ['user_rol','USER_ROL'],
      ['user_area','USER_AREA'],
      ['client','CLIENT'],
      ['area','AREA'],
      ['doc_type','DOC_TYPE'],
      ['civil_status','CIVIL_STATUS'], 
    ];
  

    var _maps = _modules.map(function(data){
      var _key    = data[0];
      var _label  = data[1];
      var _options_values = _action.map(function(data2){
        return data2[1];
      });
      var _options = _action.map(function(data2){
        return {text:data2[0],value:data2[1]};
      });

      return [
        _key,{
          allSelected: false,
          indeterminate: false,
          selected:[],
          options_values:_options_values, 
          options:_options,
        }
      ];
    });

    var _permissions = { 
          };

    for(var idx in _maps){
      var _map = _maps[idx];
      _permissions[_map[0]] = _map[1];
    } 

    console.log(_permissions);

    return {
      server_path:process.env.VUE_APP_SERVER_URL+"/user-roles",
      title:'Roles de usuarios',
      msg: 'Listado de roles de usuarios',
      lists:[ 
      ], 
      item_selected:null,
      modal:{
        add_title:"Nuevo registro",
        edit_title:"Detalle de registro", 
        form_action:1,//1:nuevo, 0: edit
      },
      forms:{
        main:{
          name:'', 
          permissions:_permissions,
        }
      }
    }
  },
  mounted:function(){
    this.getLists();
  },
  watch: {
    'forms.main.permissions.user.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.user.indeterminate = false
        this.forms.main.permissions.user.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.user.options_values.length) {
        this.forms.main.permissions.user.indeterminate = false
        this.forms.main.permissions.user.allSelected = true
      } else {
        this.forms.main.permissions.user.indeterminate = true
        this.forms.main.permissions.user.allSelected = false
      }
    },
    'forms.main.permissions.user_rol.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.user_rol.indeterminate = false
        this.forms.main.permissions.user_rol.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.user_rol.options_values.length) {
        this.forms.main.permissions.user_rol.indeterminate = false
        this.forms.main.permissions.user_rol.allSelected = true
      } else {
        this.forms.main.permissions.user_rol.indeterminate = true
        this.forms.main.permissions.user_rol.allSelected = false
      }
    },
    'forms.main.permissions.user_area.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.user_area.indeterminate = false
        this.forms.main.permissions.user_area.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.user_area.options_values.length) {
        this.forms.main.permissions.user_area.indeterminate = false
        this.forms.main.permissions.user_area.allSelected = true
      } else {
        this.forms.main.permissions.user_area.indeterminate = true
        this.forms.main.permissions.user_area.allSelected = false
      }
    },
    'forms.main.permissions.client.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.client.indeterminate = false
        this.forms.main.permissions.client.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.client.options_values.length) {
        this.forms.main.permissions.client.indeterminate = false
        this.forms.main.permissions.client.allSelected = true
      } else {
        this.forms.main.permissions.client.indeterminate = true
        this.forms.main.permissions.client.allSelected = false
      }
    },
    'forms.main.permissions.area.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.area.indeterminate = false
        this.forms.main.permissions.area.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.area.options_values.length) {
        this.forms.main.permissions.area.indeterminate = false
        this.forms.main.permissions.area.allSelected = true
      } else {
        this.forms.main.permissions.area.indeterminate = true
        this.forms.main.permissions.area.allSelected = false
      }
    },
    'forms.main.permissions.doc_type.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.doc_type.indeterminate = false
        this.forms.main.permissions.doc_type.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.doc_type.options_values.length) {
        this.forms.main.permissions.doc_type.indeterminate = false
        this.forms.main.permissions.doc_type.allSelected = true
      } else {
        this.forms.main.permissions.doc_type.indeterminate = true
        this.forms.main.permissions.doc_type.allSelected = false
      }
    },
    'forms.main.permissions.civil_status.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.civil_status.indeterminate = false
        this.forms.main.permissions.civil_status.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.civil_status.options_values.length) {
        this.forms.main.permissions.civil_status.indeterminate = false
        this.forms.main.permissions.civil_status.allSelected = true
      } else {
        this.forms.main.permissions.civil_status.indeterminate = true
        this.forms.main.permissions.civil_status.allSelected = false
      }
    }, 
  },
  methods:{ 
    toggleAllPermissionsUser (checked) {
      this.forms.main.permissions.user.selected = checked ? this.forms.main.permissions.user.options_values.slice() : []
    },
    toggleAllPermissionsUserRol (checked) {
      this.forms.main.permissions.user_rol.selected = checked ? this.forms.main.permissions.user_rol.options_values.slice() : []
    },
    toggleAllPermissionsUserArea (checked) {
      this.forms.main.permissions.user_area.selected = checked ? this.forms.main.permissions.user_area.options_values.slice() : []
    },
    toggleAllPermissionsClient (checked) {
      this.forms.main.permissions.client.selected = checked ? this.forms.main.permissions.client.options_values.slice() : []
    },
    toggleAllPermissionsArea (checked) {
      this.forms.main.permissions.area.selected = checked ? this.forms.main.permissions.area.options_values.slice() : []
    },
    toggleAllPermissionsDocType (checked) {
      this.forms.main.permissions.doc_type.selected = checked ? this.forms.main.permissions.doc_type.options_values.slice() : []
    },
    toggleAllPermissionsCivilStatus (checked) {
      this.forms.main.permissions.civil_status.selected = checked ? this.forms.main.permissions.civil_status.options_values.slice() : []
    },  
    try_form:function(){
      var _this = this; 

      var _permissions_selected = [];
      for(var idx in this.forms.main.permissions){
        var permission = this.forms.main.permissions[idx];
        if(Array.isArray(permission.selected) && permission.selected.length>0){
          var _reg = {key:idx,value:permission.selected.slice()}; 
          _permissions_selected.push(_reg);
        }
      }
      console.log(_permissions_selected);


      this.axios({
        url:this.server_path+(_this.modal.form_action==1 ? '':('/'+_this.item_selected._id)),
        method:(_this.modal.form_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.main.name, 
          permissions: _permissions_selected, 
        },
        headers:{
          'x-access-token':sessionStorage.getItem("tkn"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.form_action==1){
            _this.$swal(
              'Nuevo',
              'El registro ha sido creado.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'El registro ha sido editado.',
              'success'
            );
          }
          _this.getLists();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.form_action==1){
          _tt = 'Nuevo';
          _msg = 'El registro no ha sido creado.';
        }else{
          _msg = 'El registro no ha sido editado.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'El registro ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        ); 
      }); 
    },
    getLists:function(){
      var _this = this;
      this.axios.get(this.server_path,{ 
        headers:{
          'x-access-token':sessionStorage.getItem("tkn"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.lists = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    },
    add:function(){ 
      this.modal.form_action=1;
      this.forms.main.name = '';
      var _this = this;
      for(var idx in _this.forms.main.permissions){
        var permission = _this.forms.main.permissions[idx];
        if(Array.isArray(permission.selected)){
          permission.selected.splice(0,permission.selected.length);
        }
      }  
    },
    edit:function(item){
      this.modal.form_action=0; 
      this.forms.main.name = item.name;   
      this.item_selected = item;
      var _this = this;
      var _regs = _this.forms.main.permissions;
      for(var i in _regs){
        var _reg = _regs[i];
        _reg.selected = []; 
      }
      if(
        Array.isArray(item.permissions_lists) && 
        item.permissions_lists.length>0
      ){
        console.log("edit : ",item.permissions_lists);
        item.permissions_lists.map(function(data){
          _this.forms.main.permissions[data.key].selected = data.value.slice();
        });
      }

    },
    del:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          console.log(_id);

          this.axios({
            url:this.server_path+'/'+_id,
            method:'DELETE',
            data:{ 
            },
            headers:{
              'x-access-token':sessionStorage.getItem("tkn"),
              'Content-Type':'application/json',
            }, 
          }).then(
            function(response){

              _this.$swal(
                  'Eliminado!',
                  'El registro ha sido eliminado.',
                  'success'
                );
                _this.getLists(); 
            }
          ).catch(function(err){
            console.log(err);
            console.log(err.response);
            console.log(err.status);

            _this.$swal(
              'Notificación',
              'Error al intentar eliminar el registro seleccionado.',
              'error'
            )  
          });    
        // For more information about handling dismissals please visit
        // https://sweetalert2.github.io/#handling-dismissals
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.table{
  text-align: center;
}
.btn-accordion-rol{
  background: #b3ffa0;
  color: #464545;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.card-text{
  text-align: left;
}
.act-btns{
  min-width:120px;
}
.act-btns>button{
  margin-right:5px;
}
</style>
