<template>
  <div class="devices">
    <b-container> 
    	<b-button v-b-modal.modal1>Iniciar sesión</b-button>

		  <!-- Modal Component -->
		<b-modal id="modal1" title="Login" :hide-footer="true">
		    <app-login-form v-bind:urlWS="server_host"></app-login-form>
		</b-modal>
		<b-modal id="modal_help" title="Ayuda" :hide-footer="true">
		    <div style="text-align: left;">
		    	<ul>
		    		<li>El botón <font-awesome-icon icon="plus"></font-awesome-icon> sirve para añadir usuarios.</li>
		    		<li>El botón <font-awesome-icon icon="sync"></font-awesome-icon> sirve para volver a listar usuarios.</li>
		    		<li>El botón <font-awesome-icon icon="edit"></font-awesome-icon> sirve para editar información de usuario.</li>
		    		<li>El botón <font-awesome-icon icon="times"></font-awesome-icon> sirve para eliminar usuario.</li>
		    		<li>En caso de que no pueda realizar cualquier operación, vuelva a iniciar sesión.</li>
		    		<li>No puede existir usuarios con el mismo email.</li>
		    	</ul>
		    </div>
		</b-modal>
    	<div class='fg-left'>
    		<h4>
    			Usuarios  
    			<b-btn variant='custom_variant_button' v-b-modal.form_reg @click='form_reg.edit=false;'>
					<font-awesome-icon icon='plus'></font-awesome-icon>
				</b-btn>&nbsp;
    			<b-btn variant='custom_variant_button' @click='getLists'>
					<font-awesome-icon icon='sync'></font-awesome-icon>
				</b-btn>&nbsp;
    			<b-btn variant='custom_variant_button' v-b-modal.modal_help>
					<font-awesome-icon icon='question'></font-awesome-icon>
				</b-btn>
    		</h4>
    	</div>
    	<b-modal ref='form_reg' id="form_reg" :title="form_reg.edit ? 'Editar':'Crear'" size='sm' @ok="form_proc"> 
    		<!--
    		<b-form-group  
		      	label="Tipo Doc" class='fg-left'
		  	>
		    	<b-form-select 
		    		v-model="form_reg.type_doc.selected" 
		    		:options="form_reg.type_doc.options" 
		    		class="mb-3"  />
		  	</b-form-group>
		  	-->  
    		<b-form-group  
		      	label="Nombres" class='fg-left'
		  	>
		    	<b-form-input v-model="form_reg.name"
                  type="text"
                  placeholder=""></b-form-input>
		  	</b-form-group>
    		<b-form-group  
		      	label="Email" class='fg-left'
		  	>
		    	<b-form-input v-model="form_reg.email"
                  type="text"
                  placeholder=""></b-form-input>
		  	</b-form-group>
    		<b-form-group  
		      	label="Contraseña" class='fg-left'
		  	>
			  	<b-input-group class="mt-3">
			    	<b-form-input v-model.trim="form_reg.password"
	                  :type="!form_reg.show_password ? 'text':'password'"
	                  placeholder=""></b-form-input>
				    <b-input-group-append>
				      	<b-button variant="primary" @click='form_reg.show_password=!form_reg.show_password'>
				      		<font-awesome-icon icon="eye-slash" v-if='form_reg.show_password'></font-awesome-icon>
				      		<font-awesome-icon icon="eye" v-else></font-awesome-icon>
				      	</b-button> 
				    </b-input-group-append>
			 	</b-input-group>
		  	</b-form-group>

	        <b-card no-body class="mb-1 noselect">
	          <b-card-header header-tag="header" class="p-1" role="tab">
	            <b-btn block v-b-toggle.accordion1 variant="accordion-rol">Permisos</b-btn>
	          </b-card-header>
	          <b-collapse visible id="accordion1" accordion="my-accordion" role="tabpanel">
	            <b-card-body>
	              <b-btn variant='default' v-b-tooltip title="Cargar Roles" @click="getListsRoles">
	                <font-awesome-icon icon="sync"></font-awesome-icon>
	              </b-btn>
	              <p class="card-text"> 
	                <b-form-group>
	                  <template slot="label">
	                    <b-form-checkbox v-model="form_reg.roles.allSelected"
	                                     :indeterminate="form_reg.roles.indeterminate" 
	                                     @change="toggleAllRoles"
	                     >
	                      {{ form_reg.roles.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
	                     </b-form-checkbox>
	                  </template>
	                  <b-form-checkbox-group 
	                                         stacked
	                                         v-model="form_reg.roles.selected" 
	                                         :options="form_reg.roles.options"
	                                         class="ml-4" 
	                  ></b-form-checkbox-group>
	                </b-form-group>
	              </p>
	            </b-card-body>
	          </b-collapse>
	        </b-card>
    		
  		</b-modal>
    	<b-form-input class='custom_font' v-model="list.filter" 
                  placeholder="Filtrar"></b-form-input>
    	<table class='table table-hover table-list custom_font' >
    		<thead>
    			<th v-for='val in list.header'>{{val}}</th>
    		</thead>
    		<tbody v-if='list.data.length>0'>
    			<tr v-for='(item,index) in list.data'>
    				<td>{{index+1}}</td>
    				<td>{{item.name}}</td>
    				<td>{{item.email}}</td> 
    				<td class='actions custom_font'> 
    					<b-btn variant='custom_variant_button' @click="form_edit(item)">
    						<font-awesome-icon icon='edit'></font-awesome-icon>
    					</b-btn>
    					<b-btn variant='custom_variant_button_del' @click="form_del(item)">
    						<font-awesome-icon icon='times'></font-awesome-icon>
    					</b-btn>
    				</td>
    			</tr>
    		</tbody>
    		<tbody v-else>
    			<td :colspan='list.header.length'>Sin registros</td>
    		</tbody>
    	</table>
    </b-container>

  </div>
</template>

<script> 
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'  

import { library } from '@fortawesome/fontawesome-svg-core'
import { 
	faPlus,
	faEdit,
	faTimes, 
	faEye, 
	faEyeSlash , 
	faQuestion 
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faPlus)
library.add(faEdit) 
library.add(faTimes)
library.add(faEye)
library.add(faEyeSlash)
library.add(faQuestion)

Vue.component('font-awesome-icon', FontAwesomeIcon)  

import form_helpers from '@/helpers/forms';

import appLoginForm from '@/components/app-login-form'

Vue.component('app-login-form',appLoginForm); 

global.jQuery = require("jquery");
 
export default{
	data(){
		return { 
			server_host:process.env.VUE_APP_SERVER_URL,
			server_path:process.env.VUE_APP_SERVER_URL+"/users",
			server_path_user_roles:process.env.VUE_APP_SERVER_URL+"/user-roles",
			selected:{
				reg:{},
			},
			list:{
				filter:'',
				header:[
					'', 
					'Nombre', 
					'Email', 
					'Acciones', 
				],
				data:[
					{
						name:'Azure', 
						email:'RUC',  
						password:'',  
					},
					{
						name:'Mam', 
						email:'DNI',  
						password:'',  
					},
				],
			},
			form_reg:{
				edit:false, 
				name:'', 
				email:'', 
				password:'', 
				show_password:false, 
	          	roles:{
		            indeterminate:false,
		            allSelected:false,
		            options_values:[],
		            selected:[],
		            options:[ 
		            ],
	          	},
			}, 
		};
	},
	mounted(){ 
		this.getLists();
		this.getListsRoles();
	},
	methods:{   
	    toggleAllRoles (checked) {
	      	this.form_reg.roles.selected = checked ? this.form_reg.roles.options_values.slice() : [];
	    }, 
	    getListsRoles(){
	      var _this = this;
	      this.axios.get(this.server_path_user_roles,{ 
	        params:{
	          props:'_id name',
	        },
	        headers:{
	          	'x-access-token':sessionStorage.getItem("tkn"),
			 	'Content-Type':'application/json',
	        },
	      }).then(
	        function(response){
	          console.log(response);
	          _this.lists_roles = response.data;
	          var _options = [];
	          var _options_values = []; 
	          for(var idx in response.data){
	            _options.push({
	              text:response.data[idx].name,
	              value:response.data[idx]._id,
	            });
	            _options_values.push(response.data[idx]._id);
	          }
	          _this.form_reg.roles.options = _options;
	          _this.form_reg.roles.options_values = _options_values;
	          _this.form_reg.roles.allSelected = false;
	          _this.form_reg.roles.indeterminate = false;
	          if(_this.modal.form_action==0 && _this.item_selected){
	            var _selected = []; 
	            jQuery.each(_options,function(index,option){
	              jQuery.each(_this.item_selected.roles,function(index2,role_id){
	                if(role_id == option.value)_selected.push(role_id);
	              });
	            });
	            _this.form_reg.roles.selected = _selected;      
	          }else{
	            _this.form_reg.roles.selected = [];
	          }
	        }
	      ).catch(function(err){
	        console.log(err);
	        console.log(err.response);
	        console.log(err.status);
	      }); 
	    },
	    getLists(){
			var _this = this;
			this.axios.get(this.server_path,{ 
			headers:{
			  	'x-access-token':sessionStorage.getItem("tkn"),
			 	'Content-Type':'application/json',
			},
			}).then(
			function(response){
				  console.log(response);
				  _this.list.data = response.data;
			}
			).catch(function(err){
				console.log(err);
				console.log(err.response);
				console.log(err.status);
			}); 
	    },
		form_proc(){
			var _this = this;
			var roles_names = _this.form_reg.roles.selected.map(function(role_id){
				var _arr =_this.form_reg.roles.options;
				for(var idx in _arr){
				  	var obj = _arr[idx];
				  	if(obj.value==role_id){
				    	return obj.text;
				  	}
				}
			});
			this.axios({
		        url:(_this.form_reg.edit ? (_this.server_path+"/"+_this.selected.reg._id):_this.server_path), 
		        method:(this.form_reg.edit ? 'PUT':'POST'),
		        data:{
		        	id:this.selected.reg._id,
					name: _this.form_reg.name,
					email: _this.form_reg.email,
					password: _this.form_reg.password,
					roles: _this.form_reg.roles.selected,
					roles_names: roles_names,
		        },
		        headers:{
		          	'x-access-token':sessionStorage.getItem("tkn"),
			 		'Content-Type':'application/json',
		        }, 
		   	}).then(
	          	function(response){
	            	console.log(response); 
	            	let title = _this.form_reg.edit ? "Edición":"Nuevo";
	            	let desc = _this.form_reg.edit ? "El registro ha sido editado":"El registro ha sido creado";
	            	_this.$swal(
		              	title,
		              	desc,
		              	'success'
		            );
	            	_this.getLists();
	        }).catch(
	        	function(err){
	          		console.log(err);
	          		console.log(err.response);
	          		console.log(err.status);
	            	let title = _this.form_reg.edit ? "Edición":"Nuevo";
	            	let desc = _this.form_reg.edit ? "Problemas al editar":"Problemas al crear";
	            	_this.$swal(
		              	title,
		              	desc,
		              	'warning'
		            );
	        });  
		}, 
		form_edit(reg){
			this.selected.reg = reg;
			this.form_reg.edit = true;
			this.form_reg.name = reg.name;
			this.form_reg.email = reg.email;
			this.form_reg.password = reg.password ? reg.password.trim() : '';
			var _selected = []; 
			jQuery.each(this.form_reg.roles.options,function(index,option){
				jQuery.each(reg.roles,function(index2,role_id){
				  if(role_id == option.value)_selected.push(role_id);
				});
			});
			this.form_reg.roles.selected = _selected;
			this.$refs.form_reg.show();
		},
		form_del(reg){
			var _this = this;
			this.$swal({
				title: 'Seguro de eliminar?',
				text: 'No se podrá recuperar el registro',
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Eliminar!',
				cancelButtonText: 'Cancelar'
			}).then((result) => {
				if (result.value) { 

					this.axios({
						url:this.server_path+'/'+reg._id,
						method:'DELETE',
					data:{ 
					},
					headers:{
					  	'x-access-token':sessionStorage.getItem("tkn"),
					  	'Content-Type':'application/json',
					}, 
					}).then(
					function(response){

					  	_this.$swal(
					      	'Eliminado!',
					      	'El registro ha sido eliminado.',
					      	'success'
					    );
					    _this.getLists(); 
					}).catch(function(err){
						console.log(err);
						console.log(err.response);
						console.log(err.status);

						_this.$swal(
						  'Notificación',
						  'Error al intentar eliminar el registro seleccionado.',
						  'error'
						)  
					});     
				} else if (result.dismiss === _this.$swal.DismissReason.cancel) {
				  _this.$swal(
				    'Cancelado',
				    'La solicitud fue cancelada',
				    'error'
				  )
				}
			});
		},
	},
	watch:{
	    'form_reg.roles.selected' :function(newVal, oldVal) { 
			if (newVal.length === 0) {
				this.form_reg.roles.indeterminate = false
				this.form_reg.roles.allSelected = false
			} else if (newVal.length === this.form_reg.roles.options_values.length) {
				this.form_reg.roles.indeterminate = false
				this.form_reg.roles.allSelected = true
			} else {
				this.form_reg.roles.indeterminate = true
				this.form_reg.roles.allSelected = false
			}
	    },
	}
}
</script>
<style type="text/css"> 
	.table-list{
		/*text-align: left; */
	}
	.actions{
		min-width: 140px;	
	}
	.actions>button{
		margin: 1px 3px;
		/*font-size:12px;*/
	}
	.custom_font{
		
		/*
		font-size: 12px;
		*/
	}
	.btn-custom_variant_button{
		color:#237abd;
		background: white;
	}
	.btn-custom_variant_button_del{
		color:#ff0000;
		background: white;
	}
	.fg-left{
		text-align: left;
	}
	.card-text{
		text-align: left;
	}
	.btn-show_pass{
		background: red;
		color:white;
	}
</style>
