<template>
  <div class="">
   <div>
      <b-form-group 
        label="Usuario" 
      >
        <b-form-input 
          type="text"
          v-model="form.usr"
          required
          name="username"
          placeholder="Usuario" />
      </b-form-group>

      <b-form-group   
        label="Contraseña"  >
        <b-form-input 
          type="password"
          v-model="form.pass"
          required 
          name="password"
          placeholder="Contraseña" />
      </b-form-group> 
      <div>
        <label>{{msg_server}}</label>
      </div>

      <b-button variant="primary" @click="login">Iniciar sesión</b-button> 
    </div>
  </div>
</template>
<script>


  import Vue from 'vue'
  import BootstrapVue from 'bootstrap-vue'

  Vue.use(BootstrapVue)

  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'  

  import { library } from '@fortawesome/fontawesome-svg-core'
  import { faPlus,faEdit,faCloudDownloadAlt } from '@fortawesome/free-solid-svg-icons'
  import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

  library.add(faPlus)
  library.add(faEdit)
  library.add(faCloudDownloadAlt)

  Vue.component('font-awesome-icon', FontAwesomeIcon)  

  import form_helpers from '@/helpers/forms'

  import axios from 'axios' 
  import VueAxios from 'vue-axios'
   
  Vue.use(VueAxios, axios)

  import dotenv from 'dotenv'
  dotenv.config() 

export default {
  name: 'login-form',
  data() {
    return { 
      form:{
        usr:'',
        pass:''
      },
      msg_server:''

    }
  },
  computed: { 
  },
  methods: { 
    logout() { 
    },
    login() {
      var _this = this;
      var _url = _this.urlWS+"/api/auth/login";
      console.log("url : "+_url);
      this.axios({
        url:_url,
        method:'POST',
        data:{
          email: _this.form.usr, 
          password: _this.form.pass, 
        },
        headers:{
          'x-access-token':sessionStorage.getItem("tkn"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(response.status==200){
            sessionStorage.setItem("tkn",response.data.token);
          }
          _this.msg_server = 'Bienvenido';
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status); 
        _this.msg_server = 'Error';
      }); 
    }
  },
  props: {
    urlWS: {
      type: String,
      required: true,
      default:''
    }, 
  },
  mounted(){
      console.log("urlWS : "+this.urlWS);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped> 
</style>
